@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Bree Serif', serif !important;
}

.traceback p {
    text-align: left;
    padding-left: 0;
}

.error p {
    text-align: left;
    padding-left: 0;
}


.traceback ul {
    text-align: left;
    list-style-type: none; /* This removes the bullets */
    padding-left: 10px;      /* This removes padding on the left if needed */
}

/* If you want to target specific list items */
.traceback ul li {
    text-align: left;
    list-style-type: none; /* This removes the bullets */
    padding-left: 10px;      /* This removes padding on the left if needed */
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    /* Cache-Control: max-age=3600 */
    background-image: url('/_resource/img/bard1.jpg'); /* Path to your background image */
    background-size: cover; /* Ensure it covers the entire viewport */
    background-position: center center; /* Center the image */
    background-attachment: scroll; /* Use scroll instead of fixed for better mobile support */
    min-height: 100vh; /* Set the minimum height to full viewport height */
    width: 100%; /* Set the width to full viewport width */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Fix background image scaling on smaller screens */
@media (max-width: 768px) {
    body {
        background-attachment: scroll; /* Optional change for mobile devices */
        background-size: auto 100vh; /* Adjust the size of the background image */
    }
}
