.discord-btn {
    background-color: #7289da; /* Discord brand color */
    color: white;
    border: none;
}

.discord-btn:hover {
    background-color: #5b6eae;
}

.login-container {
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap between the icon and the text */
}

h4, p {
    text-align: center;
}
