.discord-btn {
    background-color: #7289da; /* Discord brand color */
    color: white;
    border: none;
}

.discord-btn:hover {
    background-color: #5b6eae;
}

.login-container {
    display: flex;
    flex-direction: column; /* Stack flex items vertically */
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Adjust the gap between the icon and the text */
}

h4, p {
    text-align: center;
}

.hero-header {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding-top: 70px;
}

.hero-header .header {
    width: 30%;
    background: rgba(73, 80, 87, 0.6);
    padding: 1rem;
    color: whitesmoke;
    margin-top: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}