.hero-header {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding-top: 70px;
}

.hero-header .header {
    min-width: 50%;
    max-width: 60%;
    background: rgba(73, 80, 87, 0.6);
    padding: 1rem;
    color: whitesmoke;
    margin-top: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: 80%;
    text-decoration: none;
    color: whitesmoke;
    background: #1d2124;
    margin-bottom: 10px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.card-label {
    margin-right: 4px;
}

#download {
    margin-top: 4px;
    background: rgba(73, 80, 87, 0.6);
}

.card-title {
    font-weight: bold;
    color: #fdb504;
}

.artist-name {
    color: #ff8c00;
}

.fa-music {
    color: #add8e6;
}

.text-yellow {
    color: #ffc107;
}

button.btn.btn-dark {
    margin-top: 8px;
    background: #1d2124;
    color: white;
    opacity: 0.8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-star {
    color: #ffc107;
}


/* Comments section styling */
.comments-section {
    background: rgba(140, 132, 132, 0.73);
    padding: 1rem;
    margin-top: 2.5rem;
    border-radius: 0.5rem;
}

.comments-title {
    color: #f8f9fa;
    margin-bottom: 1rem;
}

.comment-author {
    font-weight: bold;
    color: #f8f9fa;
}

.comment-content {
    color: #dee2e6;
    margin-bottom: 0.25rem;
}

.comment-date {
    color: #adb5bd;
    font-size: 0.875rem;
}

.comment-form {
    margin-top: 2rem;
}

/* Adjust the textarea styling */
textarea.form-control {
    background: #343a40;
    color: #f8f9fa;
    border: none;
}

/* Adjust the submit button styling */
button.btn.btn-primary {
    background: #495057;
    border: none;
}

/* Hover and focus styles for better UX */
textarea.form-control:focus {
    background: #283434;
    color: #f8f9fa;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(73, 80, 87, 0.25);
}

button.btn.btn-primary:hover {
    background: #6c757d; /* slightly lighter background on hover */
}


/* Comment bubble styling */
.comment-bubble {
    background: rgba(44, 48, 52, 0.43);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.comment-bubble::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 1.5rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent #2c3034 transparent;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}

/* Additional styling for author, content, and date */
.comment-author {
    font-weight: bold;
    color: #f8f9fa;
    margin-bottom: 0.5rem;
}

.comment-content {
    color: #dee2e6;
    margin-bottom: 0.75rem;
}

.comment-date {
    color: #adb5bd;
    font-size: 0.875rem;
    text-align: right;
}
.card-footer .btn-primary {
    margin-top: 1rem;
}
button#submitComment {
    margin-top: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns children at the start of the main-axis */
}

.star-rating {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    flex-wrap: nowrap; /* Prevents wrapping into multiple lines */
    margin-bottom: 15px
}

.rating {
    border: none; /* Removes fieldset border */
    margin-left: 1px; /* Spacing between the rating value and the stars */
    padding: 0; /* Removes padding around the fieldset */
    flex-direction: row-reverse;
    justify-content: flex-end
}

.rating-value {
    margin-right: 5px; /* Spacing between the rating value and the star icon */
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:150%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: gold;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}
