
.hero-header {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    padding-top: 70px;
}

.hero-header .header {
    width: 100%;
    background: rgba(73, 80, 87, 0.6);
    padding: 1rem;
    color: whitesmoke;
    margin-top: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.left-filter-block {
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: baseline;
    background-position: left;
    padding-top: 70px;

}

.left-filter-block .left-filter-panel {
    max-width: 281px;
    max-height: 227px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: rgba(73, 80, 87, 0.6);
    padding: 1rem;
    color: whitesmoke;
    margin-top: 0;
    z-index: 1;
}

.page-item {
    background: #1d2124;
    color: lightslategray;
    opacity: 0.8;
}

.page-link {
    background: #1d2124;
    color: lightslategray;
    opacity: 0.8;
    border: none;
}

.page-item.disabled .page-link {
    background: #1d2124;
    color: dimgray;
    opacity: 0.8;
}

button.btn.btn-dark {
    margin-top: 5px;
    float: right;
    background: #1d2124;
    color: white;
    opacity: 0.8;
}

.form-control {
    background: #1d2124;
    color: white;
    opacity: 0.8;
}

.placeholder {
    color: #b3b3b3;
}

.form-control::placeholder {
    color: #b3b3b3;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #b3b3b3;
}

.form-control::-ms-input-placeholder {
    color: #b3b3b3;
}

input.form-control::placeholder {
    color: #b3b3b3;
}

.form-control option {
    color: black;
}

.form-control option:first-of-type {
    font-weight: normal;
}

.form-control option {
    font-weight: normal;
}


div .card:hover {
    cursor: pointer;
}

.card {
    text-decoration: none;
    color: whitesmoke;
    background: #1d2124;
    margin-bottom: 10px;
    opacity: 0.8;
    max-width: 17rem;
    min-width: 17rem;
    max-height: 17rem;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    border-radius: 0.5rem;
}
.card-body {
    padding: 0.6rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.card-label {
    color: #adb5bd;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.card-title {
    font-weight: bold;
    color: #ffc107;
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
}
.card-footer {
    padding: 0.5rem 1rem;
}

.card:hover {
    cursor: pointer;
}

.star-icon, .comment-icon {
    color: #ffc107;
}