{{define "base_styles"}}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/_resource/css/bootstrap.min.css">
<!--<link rel="stylesheet" href="/_resource/css/bootstrap-theme.min.css">-->
<link rel="stylesheet" href="/_resource/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/_resource/css/bootstrap-utilities.min.css">
<link rel="stylesheet" href="/_resource/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="/_resource/css/select2.min.css">
<link rel="stylesheet" href="/_resource/css/select2-bootstrap-5-theme.min.css">
<link rel="stylesheet" href="/_resource/css/fontawesome.min.css">
<link rel="stylesheet" href="/_resource/css/orangely.css">
<link rel="stylesheet" href="/_resource/css/common.css">
<!--common.cs-->
{{ end }}