{{define "content"}}
<div class="login-container">
    <div class="text-wrapper">
        <h4>Login</h4>
        <p>Login or create a new account</p>
    </div>
    <a href="/auth/login/discord" class="btn discord-btn login-button">
        <i class="fab fa-discord"></i> Login with Discord</a>
</div>
{{ end }}